body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie {
    width: 250px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie h2 {
    font-size: 20px;
    margin-top: 10px;
}

.movie p {
    margin: 5px 0;
}
